<script>
var sequence_offset = {{ sequence_offset }};

// highlights text at [position, length)
var wrap_text = function(element, position, length) {
    var text = element.text();
    element.text("");

    $("<span></span>").text(text.substr(0, position)).appendTo(element);
    $("<span></span>").text(text.substr(position, length)).addClass("highlight").appendTo(element);

    if (length != undefined) {
        $("<span></span>").text(text.substr(position + length)).appendTo(element);
    }
}

var highlight_seq = function(begin, length) {
    var nucleotides = $(".nucleotide");

    nucleotides.each(function(index, value) {
        value = $(value);
        value.html(value.text());
    });

    var nucleotide_length = nucleotides[0].textContent.length;

    var amount = (begin - sequence_offset);

    var index = Math.ceil(amount / nucleotide_length);
    var last_index = Math.ceil((amount + length) / nucleotide_length);

    if (index >= 0 && index < nucleotides.length) {

        var first_element = $(nucleotides[index]);

        wrap_text(first_element, amount, length);

        if (index != last_index) {
            var last_element = $(nucleotides[last_index]);
            wrap_text(last_element, 0, length - (last_index - index) * nucleotide_length);
        }

        for (var i = index + 1; i < last_index; ++i) {
            $(nucleotides[i]).wrapInner("<span class='highlight'></span>");
        }
    }
}

$(function() {
    var nucleotides = $("span.nucleotide");
    var proteins = $("span.protein");

    nucleotides.each(function(index, self) {
        $(self).data("index", index);
    });
    proteins.each(function(index, self) {
        $(self).data("index", index);
    });

    nucleotides.hover(function() {
        $(this).addClass("highlight");
        $(proteins[$(this).data("index")]).addClass("highlight");
    },
    function() {
        $(this).removeClass("highlight");
        $(proteins[$(this).data("index")]).removeClass("highlight");
    });

    proteins.hover(function() {
        $(this).addClass("highlight");
        $(nucleotides[$(this).data("index")]).addClass("highlight");
    },
    function() {
        $(this).removeClass("highlight");
        $(nucleotides[$(this).data("index")]).removeClass("highlight");
    });
});
</script>
<div class="sequence">
    <div>
    {% for num in numbers %}
    {{ num }}<br/>{% if sequence.0.1 %}<br/>{% endif %}
    {% endfor %}
    </div>
    <div>
    {% for seq in sequence %}
    <span class="nucleotide">{% for codon in seq.0 %}{{ codon }}{% endfor %}</span>
    <br/>
    {% if seq.1 %}
    <span class="protein">{% for as in seq.1 %}{{ as }}&nbsp;&nbsp;{% endfor %}</span>
    <br/>
    {% endif %}
    {% endfor %}
    </div>
    <div>
    {% for num in numbers %}
    {% if forloop.last %}{{ sequence_length }}{% else %}{{ num|add:line_length|add:-1 }}{% endif %}<br/>{% if sequence.0.1 %}<br/>{% endif %}
    {% endfor %}
    </div>
</div>
