<script>
var old_target = "";
var tooltip_response = "";
var tooltip_func = function(evt, name, target) {
    if (old_target != target) {
        old_target = target;

        $.ajax({
            url: target,
            context: document.body,
        }).done(function(x) {
            tooltip_response = x;

            showToolTip(evt, name, tooltip_response);
        });
    }
    else {
        showToolTip(evt, name, tooltip_response);
    }
}
var features_func = function(evt, name, target) {
    tooltip_func(evt, name, target);
    highlight_seq($(evt.target).data("coordinate"), $(evt.target).data("length"));
}
var hide_features_func = function(evt) {
    hideToolTip(evt);
    highlight_seq(0, 0);
}
</script>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="{{ width }}" height="{{ height }}" viewport="0 0 {{ width }} {{ height }}">
    <style>
        .color-0 { fill:#3d80b3; stroke: #3d80b3; }
        .color-1 { fill:#3db34a; stroke: #3db34a; }
        .color-2 { fill:#cd0a0a; stroke: #cd0a0a; }
        .color-3 { fill:#e78f08; stroke: #e78f08; }
        .color-4 { fill:#b33da6; stroke: #b33da6; }
        .color-5 { fill:#0acdcd; stroke: #0acdcd; }
        .color-6 { fill:#0860e7; stroke: #0860e7; }

        .chr text { fill:#222; alignment-baseline:middle; font-size:10px }
        .chr line{ stroke:#666; stroke-width:0.5px; }
        .genes g polygon {}
        .genes g text { text-anchor:middle; alignment-baseline:middle; font-size:8px; fill: #222 }
        .promoters rect { fill:#3d80b3; opacity:0.5 }
        .tfSites rect { fill:#3db34a; opacity:0.5 }
    </style>
    <g class="chr">
        <text x="{{ chromosome.left|add:-4 }}" y="{{ chromosome.y }}" style="text-anchor:end;">{{ chromosome.start }}</text>
        <line x1="{{ chromosome.left }}" x2="{{ chromosome.right }}" y1="{{ chromosome.y }}" y2="{{ chromosome.y }}"></line>
        <text x="{{ chromosome.right|add:2 }}" y="{{ chromosome.y }}" style="text-anchor:start;">{{ chromosome.end }}</text>
    </g>
    <g class="genes">
        {% for gene in genes %}
        <g>
            <a xlink:href="{{ gene.url }}">
                <polygon class="color-{{ gene.color }}"
                         points="
                            {% if gene.arrow %}
                                {% if gene.direction == "f" %}
                                    {{ gene.x1 }},{{ gene.y1 }}
                                    {{ gene.x2|add:gene.arrow_size }},{{ gene.y1 }}
                                    {{ gene.x2 }},{% widthratio gene.y2|add:gene.y1 2 1 %}
                                    {{ gene.x2|add:gene.arrow_size }},{{ gene.y2 }}
                                    {{ gene.x1 }},{{ gene.y2 }}
                                    {{ gene.x1 }},{{ gene.y1 }}
                                {% else %}
                                    {{ gene.x1|add:gene.arrow_size }},{{ gene.y1 }}
                                    {{ gene.x2 }},{{ gene.y1 }}
                                    {{ gene.x2 }},{{ gene.y2 }}
                                    {{ gene.x1|add:gene.arrow_size }},{{ gene.y2 }}
                                    {{ gene.x1 }},{% widthratio gene.y1|add:gene.y2 2 1 %}
                                    {{ gene.x1|add:gene.arrow_size }},{{ gene.y1 }}
                                {% endif %}
                            {% else %}
                                {{ gene.x1 }},{{ gene.y1 }}
                                {{ gene.x2 }},{{ gene.y1 }}
                                {{ gene.x2 }},{{ gene.y2 }}
                                {{ gene.x1 }},{{ gene.y2 }}
                                {{ gene.x1 }},{{ gene.y1 }}
                            {% endif %}"
                         onmousemove="tooltip_func(evt, '{{ gene.title }}', '{% url 'cyano.views.detail_field' species_wid=species.wid model_type="Gene" wid=gene.wid %}?name=tooltip&strip=1')"
                         onmouseout="hideToolTip(evt);"
                         {% if gene.wid in highlight_wid %}
                         style="fill-opacity: 0.75; stroke-opacity: 1; stroke-width: 3px"
                         {% else %}
                         style="fill-opacity: 0.15; stroke-opacity: 0.35; stroke-width: 1px"
                         {% endif %}
                        >
                </polygon>
            </a>
            <a xlink:href="{{ gene.url }}">
                <text x="{% widthratio gene.x1|add:gene.x2 2 1 %}"
                      y="{% widthratio gene.y1|add:gene.y2 2 1 %}"
                      onmousemove="tooltip_func(evt, '{{ gene.title }}', '{% url 'cyano.views.detail_field' species_wid=species.wid model_type="Gene" wid=gene.wid %}?name=tooltip&strip=1')"
                      onmouseout="hideToolTip(evt);">{{ gene.label }}
                </text>
            </a>
        </g>
        {% endfor %}
    </g>
    <g class="promoters">
        {% for promoter in promoters %}
        <a xlink:href="{{ promoter.url }}">
            <rect x="{{ promoter.x }}"
                  y="{{ promoter.y }}"
                  width="{{ promoter.width }}"
                  height="{{ promoter.height }}"
                  onmousemove="showToolTip(evt, '{{ promoter.title }}', '{{ promoter.text }}')"
                  onmouseout="hideToolTip(evt);"
                  style="
                  {% if promoter.wid in highlight_wid %}
                  opacity: 1;
                  {% else %}
                  opacity: 0.25;
                  {% endif %}
                  ">
            </rect>
        </a>
        {% endfor %}
    </g>
    <g class="tfSites">
        {% for tf_site in tf_sites %}
        <a xlink:href="{{ tf_site.url }}">
            <rect x="{{ tf_site.x }}"
                  y="{{ tf_site.y }}"
                  width="{{ tf_site.width }}"
                  height="{{ tf_site.height }}"
                  onmousemove="showToolTip(evt, '{{ tf_site.title }}', '{{ tf_site.text }}')"
                  onmouseout="hideToolTip(evt);"
                  style="
                  {% if tf_site.opacity %}
                  opacity: {{ tf_site.opacity }};
                  {% endif %}
                  ">
            </rect>
        </a>
        {% endfor %}
    </g>
    <g class="features">
        {% for feature in features %}
        <a xlink:href="{{ feature.url }}">
        {% if feature.width <= 3 %}
            <polygon class="color-{{ feature.color }}"
                 points="
                    {% widthratio feature.x|add:feature.x|add:5 2 1 %}, {{ feature.y }}
                    {{ feature.x|add:5 }}, {{ feature.y|add:feature.height }}
                    {{ feature.x }}, {{ feature.y|add:feature.height }}
                    "
        {% else %}
            <rect class="color-{{ feature.color }}"
                  x="{{ feature.x }}"
                  y="{{ feature.y }}"
                  width="{{ feature.width }}"
                  height="{{ feature.height }}"
        {% endif %}
                  onmousemove="features_func(evt, '{{ feature.title }}', '{% url 'cyano.views.detail_field' species_wid=species.wid model_type="ChromosomeFeature" wid=feature.wid %}?name=tooltip&strip=1')"
                  onmouseout="hide_features_func(evt);"
                  data-coordinate="{{ feature.coordinate }}"
                  data-length="{{ feature.length }}"
                  style="
                  {% if feature.opacity %}
                  opacity: {{ feature.opacity }};
                  {% endif %}
                  ">
        {% if feature.width <= 3 %}
            </polygon>
        {% else %}
            </rect>
        {% endif %}
        </a>
        {% endfor %}
    </g>
</svg>
