{% load static %}

<div id="map">
<svg id="boehringer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="{{ width }}" height="{{ height }}" pointer-events="visible"> 
<script xlink:href="{% get_static_prefix %}boehringer/SVGPan.js"/>
<g id="viewport">
<image x="0" y="0" width="6871" height="4804" xlink:href="{% get_static_prefix %}boehringer/pathways.png" />
{% for enzyme in enzymes %}
{% with object=enzyme %}
<a xlink:href="{% url "db_xref.views.dbxref" source="EC" xid=object.ec %}" xlink:title="{{ object.title }}" target="_blank">
<rect id="e{{ forloop.counter }}" x="{{ object.x }}" y="{{ object.y }}" width="{{ object.w }}" height="{{ object.h }}" style="fill:green; fill-opacity:0.2"/>
</a>
{% endwith %}
{% endfor %}

{% for metabolite in metabolites %}
{% with object=metabolite %}
<rect id="m{{ forloop.counter }}" x="{{ object.x }}" y="{{ object.y }}" width="{{ object.w }}" height="{{ object.h }}" style="fill:blue; fill-opacity:0.2"/>
{% endwith %}
{% endfor %}
</g>
</svg>

<script type="text/javascript" src="{% get_static_prefix %}boehringer/jquery-svgpan.js"></script>
<script type="text/javascript">
	$('svg').svgPan('viewport'); 
</script>
</div>
