<a xlink:href="$url">
    <polygon class="color-$color"
         points="
            $x_middle,$y
            $w,$h
            $x,$h
            "
          onmousemove="showToolTip(evt, '$title', '$text');"
          onmouseout="hideToolTip(evt);"
          style="
          fill: $color;
          opacity: $opacity;
          ">
    </polygon>
 </a>
