<a xlink:href="$url">
    <rect x="$x"
          y="$y"
          width="$w"
          height="$h"
          onmousemove="showToolTip(evt, '$title', '$text');"
          onmouseout="hideToolTip(evt);"
          style="
          fill: $color;
          opacity: $opacity;
          ">
    </rect>
 </a>
