{% comment %}
Base template

Author: Gabriel Kind, gkind@hs-mittweida.de
Affliation: Experimental & Computational Biology, University of Applied Sciences Mittweida
Last updated: 2013-01-17

Based on:
Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Last updated: 2012-07-17
{% endcomment %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
{% load static %}
{% load templatetags %}
<head>
	{% block head %}
	<!-- meta data -->
	<title>{% block head_title %}CyanoFactory KB{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-us" />
	<meta http-equiv="Cache-Control" content="NO-CACHE" />
	<meta http-equiv="Pragma" content="NO-CACHE" />
	<meta name="description" content="Knowledge base embracing all data produced by and relevant to the CyanoFactory project partners." />
	<meta name="keywords" content="cyano, factory, cell, systems, biology, computational, database, modeling, mittweida" />
	<meta name="author" content="Experimental &amp; Computational Biology, University of Applied Sciences Mittweida" />
	<meta name="revised" content="2013" />
	<meta name="copyright" content="&copy; Experimental & Computational Biology, University of Applied Sciences Mittweida 2013. Original work: &copy; Covert Lab, Stanford University 2008-2012" />
	
	{% if species %}
	<meta name="species_wid" content="{{ species.wid }}" />
	<meta name="species_name" content="{{ species.name }}" />
	{% endif %}	
	
	<!-- style -->
	{% if not is_pdf %}
	<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}public/css/jquery-ui-1.8.23.custom.css" />
	<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}public/css/PTSans.min.css" />
	{% endif %}
	<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}cyano/css/styles.css" />
	<link rel="stylesheet" type="text/css" media="print" href="{% get_static_prefix %}public/css/styles.print.css" />
	<style type="text/css" media="print">
	{{ pdfstyles }}
	</style>
	<style type="text/css" media="all">{% block extrastyles %}{% endblock %}</style>
	
	<!-- favicon -->
	<link rel="icon" type="image/png" href="{% get_static_prefix %}cyano/favicon.png">	
	
	<!-- javascript -->
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}public/js/jquery-1.8.0.min.js"></script>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}public/js/jquery-ui-1.8.23.custom.min.js"></script>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}public/js/flot/jquery.flot.min.js"></script>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}public/js/flot/jquery.flot.axislabels.min.js"></script>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}public/js/flot/jquery.flot.pie.min.js"></script>
	<!–[if lte IE 8]>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}public/js/flot/excanvas.min.js"></script>
	<![endif]–>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}public/js/evidence.js"></script>
	<script language="javascript" type="text/javascript" src="{% get_static_prefix %}public/js/tooltip.js"></script>
	{% endblock %}
</head>
<body>
	<!-- header -->
	<div id="header" class="ui-widget-header">
		<div class="title"><a href="{% if species %}{% url "cyano.views.species" species_wid=species.wid %}{% else %}{% url "cyano.views.index" %}{% endif %}">{{ species.name }}</a></div>
		<div class="banner"><a href="{% if species %}{% url "cyano.views.species" species_wid=species.wid %}{% else %}{% url "cyano.views.index" %}{% endif %}"><img src="{% get_static_prefix %}cyano/img/banner.png" /></a></div>
		<div class="search">
			{% if species %}
			<form name="search" action="{% url "cyano.views.search" species_wid=species.wid %}" method="get">
				<table cellpadding="0" cellspacing="0">
				<tr>
					<td><input name="q" type="text" 
						{% if not engine %}
						class="text text-default" value="Enter search term(s)" onclick="this.value = ''; this.className='text';"
						{% else %}
						class="text" value="{{ query }}"
						{% endif %}
						/></td>
					<td><a href="javascript:document.search.submit()"><img src="{% get_static_prefix %}public/img/magnifier.png" /></a></td>
				</tr>
					<td class="engine">
						<input type="radio" name="engine" value="haystack" {% if not engine or engine == 'haystack' %} checked="true" {% endif %}/><span>CyanoFactory KB</span>
						<input type="radio" name="engine" value="google" {% if engine == 'google' %} checked="true" {% endif %}/><span>Google</span>
					</td>
					<td></td>
				</table>
			</form>
			{% endif %}
		</div>
		
		<ul class="menu">
			<li><a href="{% url "cyano.views.index" %}">Home</a>
				<ul>
				{% for species in species_list %}
				<li><a href="{{ species.get_absolute_url }}"><i>{{ species.name }}</i></a></li>
				{% endfor %}
				</ul>
			</li>
			{% if species %}
			<li class="spacer"/>
			<li><a href="#">Browse</a>
				<ul>
				{% for key1 in modelnames %}
					{% for key2, modelmetadata in modelmetadatas.iteritems %}
						{% if key1 == key2 %}
					<li><a href="{% url "cyano.views.list" species_wid=species.wid model_type=key2 %}">{{ modelmetadata.verbose_name_plural }}</a></li>
						{% endif %}
					{% endfor %}
				{% endfor %}
				</ul>
			</li>
			{% endif %}
			{% comment %}
			<li class="spacer"/>
			<li><a href="#">Download</a>
				<ul>
				<li><a href="{% if species %}{% url "cyano.views.exportData" species_wid=species.wid %}{% else %}{% url "cyano.views.exportData" %}{% endif %}">Data</a></li>
				<li><a href="https://simtk.org/project/xml/downloads.xml?group_id=714#package_id1290">Source code</a></li>
				</ul>
			</li>
			{% endcomment %}
			{% if request.user.is_authenticated %}
			<li class="spacer"/>
			<li><a href="{% if species %}{% url "cyano.views.importData" species_wid=species.wid %}{% else %}{% url "cyano.views.importData" %}{% endif %}">Import</a></li>
				{% if species %}
			<li class="spacer"/>
			<li><a href="{% url "cyano.views.validate" species_wid=species.wid %}">Validate</a></li>
				{% endif %}
			<li class="spacer"/>
			<li><a href="{% if species %}{% url "cyano.views.users" species_wid=species.wid %}{% else %}{% url "cyano.views.users" %}{% endif %}">Members</a></li>
			{% endif %}
			{% comment %}
			<li class="spacer"/>
			<li><a href="#">Help</a>
				<ul>
				<li><a href="{% if species %}{% url "cyano.views.tutorial" species_wid=species.wid %}{% else %}{% url "cyano.views.tutorial" %}{% endif %}">Getting started</a></li>			
				<li><a href="{% if species %}{% url "cyano.views.about" species_wid=species.wid %}{% else %}{% url "cyano.views.about" %}{% endif %}#downloading_content">Downloading data</a></li>
				<li><a href="{% if species %}{% url "cyano.views.about" species_wid=species.wid %}{% else %}{% url "cyano.views.about" %}{% endif %}#api">RESTful API</a></li>				
				<li><a href="{% if species %}{% url "cyano.views.about" species_wid=species.wid %}{% else %}{% url "cyano.views.about" %}{% endif %}#editing">Editing KB content</a></li>
				<li><a href="{% if species %}{% url "cyano.views.about" species_wid=species.wid %}{% else %}{% url "cyano.views.about" %}{% endif %}#data_model">Data model</a></li>
				<li><a href="{% if species %}{% url "cyano.views.about" species_wid=species.wid %}{% else %}{% url "cyano.views.about" %}{% endif %}#developing">Creating and customizing<div style="padding-left:10px;">new model organism<br/>databases</div></a></li>
				<li><a href="{% if species %}{% url "cyano.views.about" species_wid=species.wid %}{% else %}{% url "cyano.views.about" %}{% endif %}#modeling">Developing whole-cell<div style="padding-left:10px;">models</div></a></li>
				<li><a href="{% get_static_prefix %}public/doc/">Source code docs</a></li>
				<li><a href="{% if species %}{% url "cyano.views.about" species_wid=species.wid %}{% else %}{% url "cyano.views.about" %}{% endif %}">About</a></li>
				<li><a href="{% if species %}{% url "cyano.views.about" species_wid=species.wid %}{% else %}{% url "cyano.views.about" %}{% endif %}#contact">Contact</a></li>
				</ul>
			</li>
			{% endcomment %}
			{% if request.user.is_authenticated %}
			<li class="spacer"/>
			<li><a href="#">{{ request.user.username }}</a>
				<ul>
				<li><a href="{% if species %}{% url "cyano.views.user" username=request.user.username species_wid=species.wid %}{% else %}{% url "cyano.views.user" username=request.user.username %}{% endif %}">My Profile</a></li>
				<li><a href="{% if species %}{% url "cyano.views.logout" species_wid=species.wid %}{% else %}{% url "cyano.views.logout" %}{% endif %}">Logout</a></li>
				</ul>
			</li>
			{% else %}
			<li class="spacer"/>
			<li><a href="{% if request.get_full_path|truncatechars:9 == '/login...' %}{{ request.get_full_path }}{% else %}{% if species %}{% url "cyano.views.login" species_wid=species.wid %}{% else %}{% url "cyano.views.login" %}{% endif %}?next={{ request.get_full_path|urlencode }}{% endif %}">Login</a></li>
			{% endif %}
		</ul>
	</div>
		
	<div id="main">
		<!-- content -->
		<div id="content">
		<h1>{% block page_title %}{% endblock %}
		</h1>
		{% block content %}{% endblock %}		
		</div>
	</div>
		
	<!-- footer -->
	<div id="footer" class="ui-widget-header">
		<div class="left">
		</div>
		
		<div class="center">			
			Last updated {{ last_updated_date }}. Contact: <a href="mailto:{{ email }}">{{ email }}</a>.<br/> 
			&copy; <a href="http://http://www.hs-mittweida.de/wuenschi">Experimental &amp; Computational Biology</a>, <a href="http://www.hs-mittweida.de">University of Applied Sciences Mittweida</a> 2013.		
		</div>
		
		<div class="right">
			{% block action_icons %}
			<a href="https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]={{ request.build_absolute_uri }}&amp;p[title]=CyanoFactory%20KB&amp;p[summary]={{ social_text }}" onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]={{ request.build_absolute_uri }}&amp;p[title]=CyanoFactory%20KB&amp;p[summary]={{ social_text }}', '', 'width=500,height=300'); return false;" target="_blank" title="Share on Facebook"><img src="{% get_static_prefix %}cyano/img/social/facebook.png" /></a>
			<a href="https://twitter.com/intent/tweet?source=webclient&amp;text=https://twitter.com/intent/tweet?source=webclient&amp;text=CyanoFactory%20KB:{% if social_text %}%20{{ social_text }}%20at{% endif %}&amp;url={{ request.build_absolute_uri }}" onclick="javascript:window.open('https://twitter.com/intent/tweet?source=webclient&amp;text=CyanoFactory%20KB:{% if social_text %}%20{{ social_text }}%20at{% endif %}&amp;url={{ request.build_absolute_uri }}', '', 'width=500,height=300'); return false;" target="_blank" title="Share on Twitter"><img src="{% get_static_prefix %}cyano/img/social/twitter.png" /></a>
			<a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" onclick="javascript:window.open('https://plus.google.com/share?url={{ request.build_absolute_uri }}', '', 'width=500,height=500'); return false;" target="_blank" title="Share on Google Plus"><img src="{% get_static_prefix %}cyano/img/social/google+.png" /></a>
			<a href="mailto:name@example.org&amp;subject=CyanoFactory%20KB?body={% if social_text %}{{ social_text }}%20at%20{% endif %}{{ request.build_absolute_uri }}" title="Share via E-Mail"><img src="{% get_static_prefix %}cyano/img/social/email.png" /></a>
			<a href="?{% makeurl queryargs 'format' 'pdf' %}" title="Convert to PDF"><img src="{% get_static_prefix %}public/img/page_white_acrobat.png" /></a>
			<a href="javascript:window.print()" title="Print this page"><img src="{% get_static_prefix %}public/img/printer.png" /></a>
			{% endblock %}
		</div>
	</div>	
	
	<!-- modal -->
	<div id="modal"></div>
	
	<!-- tooltip -->
	<div id="tooltip" class="ui-widget-header ui-corner-all"></div>
</body>
</html>