{% extends "cyano/base.html" %}

{% comment %}
Revision page template
{% endcomment %}

{% load static %}
{% load templatetags %}

{% block head_title %}{% with object=queryset.0 %}{{ block.super }} :: {{ object.wid }}{% endwith %}{% endblock %}
{% block page_title %}History of {{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% with object=queryset.0 %}
<meta name="entry_created" content="{{ object.created_date }}" />
<meta name="entry_last_updated" content="{{ object.last_updated_date }}" />
<meta name="entry_type" content="{{ model_verbose_name }}" />
<meta name="entry_wid" content="{{ object.wid }}" />
{% if object.name|length > 0 %}
<meta name="entry_name" content="{{ object.name }}" />
{% else %}
<meta name="entry_name" content="{{ object.wid }}" />
{% endif %}
{% endwith %}
{% endblock %}

{% block action_icons %}
{% with object=queryset.0 %}
<a href="?{% makeurl queryargs 'format' 'xlsx' %}"><img src="{% get_static_prefix %}public/img/excel.gif" title="Download in Excel format" alt="Download in Excel format" /></a>
<a href="?{% makeurl queryargs 'format' 'json' %}"><img src="{% get_static_prefix %}public/img/json.png" title="Download in JSON format" alt="Download in JSON format" /></a>
<a href="?{% makeurl queryargs 'format' 'xml' %}"><img src="{% get_static_prefix %}public/img/xml.gif" title="Download in XML format" alt="Download in XML format" /></a>
{{ block.super }}
{% endwith %}
{% endblock %}

{% block extrastyles %}
#list{
	width:100%;
}
#detail tbody.data tr td:nth-child(1){
	width:3%;
}
#detail tbody.data tr td:nth-child(2n){
	width:15%;
}
#detail tbody.data tr td:nth-child(3){
	width:60%;
}

#detail a {
	color: rgb(34, 34, 34);
}
{% endblock %}

{% block content %}
{% autoescape off %}
<table id="detail">	
	{% for revision in revisions %}
		{% if not forloop.first %}
	<tbody class="spacing">
		<tr><td colspan="4">&nbsp;</td></tr>
	</tbody>
		{% endif %}
	<tbody class="data">
		<tr>
			<th colspan="4">{{ revision.0 }}</th>
		</tr>				
		{% for field in revision.1 %}
		<tr>
			<th><a href="{{ field.url }}">{{ field.time }}</a></th>
			<td><a href="{{ field.url }}">{{ field.wid }}</a></td>
			<td><a href="{{ field.url }}">{{ field.reason }}</a></td>
			<td><a href="{{ field.author.user.get_absolute_url }}">{{ field.author.get_name }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
	{% endfor %}	
</table>
{% endautoescape %}
{% endblock %}
