{% extends "cyano/base.html" %}

{% comment %}
User list template
{% endcomment %}

{% load static %}
{% load templatetags %}

{% block head_title %}{{ block.super }} :: Jobs{% endblock %}
{% block page_title %}Jobs{% endblock %}

{% block head %}
{{ block.super }}
<meta http-equiv="refresh" content="3">
{% endblock %}

{% block action_icons %}
{% endblock %}

{% block extrastyles %}
#list{
	width:100%;
}
{% endblock %}

{% block content %}
<table id="detail">

{% if running|length > 0 %}
<tbody class="data">
	<tr>
		<th colspan="2">Running jobs</th>
	</tr>
{% endif %}

{% for object in running %}
<tr>
	<th><progress max="{{ object.total }}" value="{{ object.current }}">
				<strong>Progress: {{ object.current }} of {{ object.total }} done.</strong>
		</progress>
	</th>
	<td>{{ object.message }}</td>
</tr>
{% endfor %}

{% if running|length > 0 %}
</tbody>
<tbody class="spacing">
	<tr><td colspan="2">&nbsp;</td></tr>
</tbody>
{% endif %}

{% if pending|length > 0 %}
<tbody class="data">
	<tr>
		<th colspan="2">Pending jobs</th>
	</tr>
{% endif %}

{% for object in pending %}
<tr>
	<td colspan="2">{{ object.reason }}</td>
</tr>
{% endfor %}

{% if pending|length > 0 %}
</tbody>
<tbody class="spacing">
	<tr><td colspan="2">&nbsp;</td></tr>
</tbody>
{% endif %}

{% if finished|length > 0 %}
<tbody class="data">
	<tr>
		<th colspan="2">Finished jobs</th>
	</tr>
{% endif %}

{% for object in finished %}
	<tr>
		<th>{{ object.status|title }}</td>
		<td colspan="2">{{ object.result.message }}{% if object.status == "FAILURE" %} ({{ object.result.result }}){% endif %}</td>
	</tr>
{% endfor %}

{% if finished|length > 0 %}
</tbody>
{% endif %}
</table>

<div style="clear:both;"></div>
{% endblock %}
