{% load static %}
{% load templatetags %}
{% load filters %}
{% load endless %}

{% paginate 1000 queryset %}

{% for object in queryset %}
<tr>
	<th><a href="{{ object|get_absolute_url:species }}">{{ object.wid }}</a></th>
	<td><a href="{{ object|get_absolute_url:species }}">{% autoescape off %}{{ object.name|truncatechars:80 }}{% endautoescape %}</a></td>
	{% if not request.user.is_anonymous %}
	<td>
		<a href="{% url "cyano.views.edit" species_wid=species.wid model_type=model_type wid=object.wid %}"><img src="{% get_static_prefix %}public/img/pencil.png" /></a>
		<a href="{% url "cyano.views.delete" species_wid=species.wid model_type=model_type wid=object.wid %}"><img src="{% get_static_prefix %}public/img/delete.png" /></a>
	</td>
	{% endif %}
</tr>
{% endfor %}

{% show_more "Load more" "Loading more..." %}
