{% extends "cyano/base.html" %}

{% comment %}
Permission template
{% endcomment %}

{% load static %}
{% load templatetags %}

{% block head_title %}{% with object=queryset.0 %}{{ block.super }} :: {{ object.wid }}{% endwith %}{% endblock %}
{% block page_title %}{{ type }} &ndash; {{ name }}{% endblock %}

{% block head %}
{{ block.super }}
{% with object=queryset.0 %}
<meta name="entry_created" content="{{ object.created_date }}" />
<meta name="entry_last_updated" content="{{ object.last_updated_date }}" />
<meta name="entry_type" content="{{ model_verbose_name }}" />
<meta name="entry_wid" content="{{ object.wid }}" />
{% if object.name|length > 0 %}
<meta name="entry_name" content="{{ object.name }}" />
{% else %}
<meta name="entry_name" content="{{ object.wid }}" />
{% endif %}
{% endwith %}

<script type="text/javascript">
var users = new Array();
{% for user in users %}
users.push("{{ user.user.username }} ({{ user.get_name }})")
{% endfor %}

var user_options = '<option>(Add a new user)</option>{% for user in users %}<option>{{ user.user.username }} ({{ user.get_name }})</option>{% endfor %}'

var groups = new Array();
{% for group in groups %}
groups.push("{{ group.group.name }}")
{% endfor %}

var group_options = '<option>(Add a new group)</option>{% for group in groups %}<option>{{ group.group.name }}</option>{% endfor %}'

user_row_count = 0;
group_row_count = 0;

function addUserRow(item) {
	if (item != null) {
		if (item.selectedIndex == 0) {
			$(item).closest('tr').remove();
			// Fixup IDs
			selects = $('#userperm_table select');
			$.each(selects, function(index, value) {
				$(value).data("userRow", index + 1);
			})
			
			user_row_count--;
			return;
		}
		else {
			alert($(item).data("userRow"));
			inputs = $('#userperm_table input [data-user-row="' + $(item).data("userRow") + '"]');
			$.each(inputs, function(index, value) {
				$(value).removeProp('disabled');
			})
		}
		
		if ($(item).data("userRow") != user_row_count)
		{
			return;
		}
	}
	user_row_count++;
	$('#userperm_table tr:last').after('<tr><th> \
<select class="select" id="userperm_select" data-user-row="'+ user_row_count + '" name="userperm" id="userperm" style="width:300px;" onChange="addUserRow(this)">' +
user_options +
'</select> \
</th> \
<td><input type="checkbox" name="userperm_full" data-user-row="'+ user_row_count + '" nvalue="perm_full" disabled></td> \
<td><input type="checkbox" name="userperm_read_normal" data-user-row="'+ user_row_count + '" nvalue="perm_read_normal" disabled></td> \
<td><input type="checkbox" name="userperm_read_delete" data-user-row="'+ user_row_count + '" nvalue="perm_read_delete" disabled></td> \
<td><input type="checkbox" name="userperm_read_permission" data-user-row="'+ user_row_count + '" nvalue="perm_read_permission" disabled></td> \
<td><input type="checkbox" name="userperm_read_history" data-user-row="'+ user_row_count + '" nvalue="perm_read_history" disabled></td> \
<td><input type="checkbox" name="userperm_write_normal" data-user-row="'+ user_row_count + '" nvalue="perm_write_normal" disabled></td> \
<td><input type="checkbox" name="userperm_write_delete" data-user-row="'+ user_row_count + '" nvalue="perm_write_delete" disabled></td> \
<td><input type="checkbox" name="userperm_write_permission" data-user-row="'+ user_row_count + '" nvalue="perm_write_permission" disabled></td></tr>');
}

function addGroupRow(item) {
	group_row_count++;
	$('#groupperm_table tr:last').after('<tr><th> \
<select class="select" id="userperm_select_' + group_row_count + '" name="groupperm" id="groupperm" style="width:300px;" onChange="addGroupRow(this)">' +
group_options +
'</select> \
</th> \
<td><input type="checkbox" name="perm_full" value="perm_full"></td> \
<td><input type="checkbox" name="perm_read_normal" value="perm_read_normal"></td> \
<td><input type="checkbox" name="perm_read_delete" value="perm_read_delete"></td> \
<td><input type="checkbox" name="perm_read_permission" value="perm_read_permission"></td> \
<td><input type="checkbox" name="perm_read_history" value="perm_read_history"></td> \
<td><input type="checkbox" name="perm_write_normal" value="perm_write_normal"></td> \
<td><input type="checkbox" name="perm_write_delete" value="perm_write_delete"></td> \
<td><input type="checkbox" name="perm_write_permission" value="perm_write_permission"></td></tr>');
}

window.onload = function()
                {
					addUserRow(null);
					addGroupRow(null);
				}
</script>
{% endblock %}

{% block action_icons %}
{% with object=queryset.0 %}
{% if request.user.is_anonymous %}
<a href="mailto:wholecell[at]lists.stanford.edu?subject=WholeCellKB Object Species={{ species.wid }} WID={{ object.wid }}"><img src="{% get_static_prefix %}public/img/pencil.png" title="Suggest an edit" alt="Suggest an edit" /></a>
{% else %}
<a href="{% comment %}{% url "cyano.views.edit" species_wid=species.wid wid=queryset.0.wid %}{% endcomment %}"><img src="{% get_static_prefix %}public/img/pencil.png" title="Edit" alt="Edit" /></a>
<a href="{% comment %}{% url "cyano.views.delete" species_wid=species.wid wid=queryset.0.wid %}{% endcomment %}"><img src="{% get_static_prefix %}public/img/delete.png" title="Delete" alt="Delete" /></a>
{% endif %}
<a href="?{% makeurl queryargs 'format' 'xlsx' %}"><img src="{% get_static_prefix %}public/img/excel.gif" title="Download in Excel format" alt="Download in Excel format" /></a>
<a href="?{% makeurl queryargs 'format' 'json' %}"><img src="{% get_static_prefix %}public/img/json.png" title="Download in JSON format" alt="Download in JSON format" /></a>
<a href="?{% makeurl queryargs 'format' 'xml' %}"><img src="{% get_static_prefix %}public/img/xml.gif" title="Download in XML format" alt="Download in XML format" /></a>
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
{% autoescape off %}
{% with object=queryset.0 %}
<noscript>Permission editing needs javascript to work correctly!</noscript>

<table id="detail">
	<tbody class="data" id="userperm_table">
		<tr>
			<th colspan="9">User Permissions</th>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td colspan="4">Read</td>
			<td colspan="3">Write</td>
		</tr>
		<tr>
			<th></th>
			<td>Full</td>
			<td>Normal</td>
			<td>Del</td>
			<td>Perm</td>
			<td>Hist</td>
			<td>Normal</td>
			<td>Del</td>
			<td>Perm</td>
		</tr>
	</tbody>
	<tbody class="spacing">
		<tr><td colspan="9">&nbsp;</td></tr>
	</tbody>
	<tbody class="data" id="groupperm_table">
		<tr>
			<th colspan="9">Group Permissions</th>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td colspan="4">Read</td>
			<td colspan="3">Write</td>
		</tr>
		<tr>
			<th></th>
			<td>Full</td>
			<td>Normal</td>
			<td>Del</td>
			<td>Perm</td>
			<td>Hist</td>
			<td>Normal</td>
			<td>Del</td>
			<td>Perm</td>
		</tr>
	</tbody>
</table>
{% endwith %}
{% endautoescape %}
{% endblock %}
