{% extends "cyano/base.html" %}

{% comment %}
Permission template
{% endcomment %}

{% load static %}
{% load templatetags %}

{% block head_title %}{% with object=queryset.0 %}{{ block.super }} :: {{ object.wid }}{% endwith %}{% endblock %}
{% block page_title %}{{ type }} &ndash; {{ name }}{% endblock %}

{% block head %}
{{ block.super }}
{% with object=queryset.0 %}
<meta name="entry_created" content="{{ object.created_date }}" />
<meta name="entry_last_updated" content="{{ object.last_updated_date }}" />
<meta name="entry_type" content="{{ model_verbose_name }}" />
<meta name="entry_wid" content="{{ object.wid }}" />
{% if object.name|length > 0 %}
<meta name="entry_name" content="{{ object.name }}" />
{% else %}
<meta name="entry_name" content="{{ object.wid }}" />
{% endif %}
{% endwith %}

<script type="text/javascript">
var users = new Array();
{% for user in users %}
users.push("{{ user.user.username }} ({{ user.get_name }})")
{% endfor %}

var user_options = '<option id="addnew">(Add a new user)</option>{% for user in users %}<option id="{{ user.user.id }}">{{ user.user.username }} ({{ user.get_name }})</option>{% endfor %}'

var groups = new Array();
{% for group in groups %}
groups.push("{{ group.group.name }}")
{% endfor %}

var group_options = '<option id="addnew">(Add a new group)</option>{% for group in groups %}<option id="{{ group.group.id }}">{{ group.group.name }}</option>{% endfor %}'

user_row_count = 0;
group_row_count = 0;

checkboxes = '\
<td><input type="checkbox" onchange="updateCheck(this)"><input type="hidden" name="FULL_ACCESS" value="0"></td> \
<td><input type="checkbox" onchange="updateCheck(this)"><input type="hidden" name="READ_NORMAL" value="0"></td> \
<td><input type="checkbox" onchange="updateCheck(this)"><input type="hidden" name="READ_DELETE" value="0"></td> \
<td><input type="checkbox" onchange="updateCheck(this)"><input type="hidden" name="READ_PERMISSION" value="0"></td> \
<td><input type="checkbox" onchange="updateCheck(this)"><input type="hidden" name="READ_HISTORY" value="0"></td> \
<td><input type="checkbox" onchange="updateCheck(this)"><input type="hidden" name="WRITE_NORMAL" value="0"></td> \
<td><input type="checkbox" onchange="updateCheck(this)"><input type="hidden" name="WRITE_DELETE" value="0"></td> \
<td><input type="checkbox" onchange="updateCheck(this)"><input type="hidden" name="WRITE_PERMISSION" value="0"></td>';

new_element_user = '\
<tr><th> \
<input type="hidden" name="uid" id="itemid" value=""/>\
<select class="select" id="userperm_select" id="user" style="width:300px;" onChange="addUserRow(this)">' +
user_options + '\
</select> \
</th> \
<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>';

new_element_group = '\
<tr><th> \
<input type="hidden" name="gid" id="itemid" value="{{ request.POST.data_type }}"/> \
<select class="select" id="usergroup_select" id="group" style="width:300px;" onChange="addGroupRow(this)">' +
group_options + '\
</select> \
</th> \
<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>';

function updateCheck(item) {
	$(item).next().val($(item).is(':checked') ? 1 : 0);
}

function addRow(what, item) {
	new_element = (what == 0 ? new_element_user : new_element_group);
	target_table = (what == 0 ? "#userperm_table" : "#groupperm_table");

	if (item != null) {
		parent_tr = $(item).closest('tr');
		
		selected_item = $(item).children(":selected").attr("id");
		parent_tr.find('#itemid').val(selected_item);
		//alert(parent_tr.find('input [name="itemid"]'));
	
		if (item.selectedIndex == 0) {
			// Option was "Add new" -> Remove the entry
			parent_tr.remove();
		}
		else {
			// add new row
			// add checkboxes to the now old one
			if (parent_tr.next().length == 0) {
				parent_tr.find('td').remove();
				new_items = $(item).closest('th').after(checkboxes);
				
				// Change text of "Add new" to "Remove the entry"
				parent_tr.find('select option[id="addnew"]').text('(Remove item)');
		
				// Add new one if used combobox was the last
				$(target_table + ' tr:last').after(new_element);
			}
		}
	} else {
		$(target_table + ' tr:last').after(new_element);
	}
}

function addUserRow(item) {
	addRow(0, item);
}

function addGroupRow(item) {
	addRow(1, item);
}

window.onload = function()
                {
					addUserRow(null);
					addGroupRow(null);
				}
</script>
{% endblock %}

{% block action_icons %}
{% with object=queryset.0 %}
{% if request.user.is_anonymous %}
<a href="mailto:wholecell[at]lists.stanford.edu?subject=WholeCellKB Object Species={{ species.wid }} WID={{ object.wid }}"><img src="{% get_static_prefix %}public/img/pencil.png" title="Suggest an edit" alt="Suggest an edit" /></a>
{% else %}
<a href="{% comment %}{% url "cyano.views.edit" species_wid=species.wid wid=queryset.0.wid %}{% endcomment %}"><img src="{% get_static_prefix %}public/img/pencil.png" title="Edit" alt="Edit" /></a>
<a href="{% comment %}{% url "cyano.views.delete" species_wid=species.wid wid=queryset.0.wid %}{% endcomment %}"><img src="{% get_static_prefix %}public/img/delete.png" title="Delete" alt="Delete" /></a>
{% endif %}
<a href="?{% makeurl queryargs 'format' 'xlsx' %}"><img src="{% get_static_prefix %}public/img/excel.gif" title="Download in Excel format" alt="Download in Excel format" /></a>
<a href="?{% makeurl queryargs 'format' 'json' %}"><img src="{% get_static_prefix %}public/img/json.png" title="Download in JSON format" alt="Download in JSON format" /></a>
<a href="?{% makeurl queryargs 'format' 'xml' %}"><img src="{% get_static_prefix %}public/img/xml.gif" title="Download in XML format" alt="Download in XML format" /></a>
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
{% autoescape off %}
{% with object=queryset.0 %}
<noscript>Permission editing needs javascript to work correctly!</noscript>

<form id="permission_form">
<table id="detail">
	<tbody class="data" id="userperm_table">
		<tr>
			<th colspan="9">User Permissions</th>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td colspan="4">Read</td>
			<td colspan="3">Write</td>
		</tr>
		<tr>
			<th></th>
			<td>Full</td>
			<td>Normal</td>
			<td>Del</td>
			<td>Perm</td>
			<td>Hist</td>
			<td>Normal</td>
			<td>Del</td>
			<td>Perm</td>
		</tr>
	</tbody>
	<tbody class="spacing">
		<tr><td colspan="9">&nbsp;</td></tr>
	</tbody>
	<tbody class="data" id="groupperm_table">
		<tr>
			<th colspan="9">Group Permissions</th>
		</tr>
		<tr>
			<th></th>
			<td></td>
			<td colspan="4">Read</td>
			<td colspan="3">Write</td>
		</tr>
		<tr>
			<th></th>
			<td>Full</td>
			<td>Normal</td>
			<td>Del</td>
			<td>Perm</td>
			<td>Hist</td>
			<td>Normal</td>
			<td>Del</td>
			<td>Perm</td>
		</tr>
	</tbody>
</table>
<input class="button" type="submit" value="Submit" />
</form>
{% endwith %}
{% endautoescape %}
{% endblock %}
