# UNIT TEST PROPERTIES
# ===============================================================
# This file contains properties that need to be set by each
# developer in order to run the unit tests.  This file is
# only a template, since we don't want real file to be
# overwritten or accidently checked into CVS with someone's
# username and password!
# ===============================================================
# Rename this file to "unittest.properties" and insert your
# personal values before running the unit tests.
# ===============================================================
# WARNING:
# The unit tests do interact with the database, so be sure
# you're connecting to a test database!
# ===============================================================

warehouse.test.database.host=
warehouse.test.database.port=
warehouse.test.database.name=
warehouse.test.database.username=
warehouse.test.database.password=
warehouse.test.database.dbms.type=
# dbms.type is 'oracle' or 'mysql'

