<div id="sidebar" class="panel panel-primary">
    <div class="panel-heading">
    <h3 class="panel-title">Search</h3>
    </div>
    <div class="panel-body">
        <form id="search_form" method="post">
            {% csrf_token %}
            <p>Paste white-space separated EC numbers and/or keywords here. Both can be linked to colors by using # (e.g. 1.2.3.4#red).<br>
            <div style="text-align:center; background-image:linear-gradient(to right,
                hsla(240, 100%, 50%, 0.5),
                hsla(180, 100%, 50%, 0.5),
                hsla(120, 100%, 50%, 0.5),
                hsla(60, 100%, 50%, 0.5),
                hsla(0, 100%, 50%, 0.5))">
            Colors from 0 to 100
            </div>
            <br>
            <textarea id="search_box" class="form-control" name="items" cols="10" rows="10">{% for item in items %}{{ item.0 }}{% if item.2 != None %}#{{ item.2 }}{% endif %}&#10;{% endfor %}</textarea>
            <br>
            <input class="btn btn-primary" type="submit" value="Submit" />
            {% if support_export %}
            <input name="export_button" class="btn btn-primary" type="submit" value="Export" />
            {% endif %}
            </p>
        </form>
        <form id="load_form" method="post">
            <div class="form-group">
                <label for="load_query">Load existing query</label>
                <select id="load_query" class="form-control">
                {% for query in queries %}
                <option name="{{ query.pk }}">{{ query.name }}</option>
                {% endfor %}
                </select>
            </div>
            <button id="load_button" class="btn btn-primary">Load</button>
            <button id="delete_button" class="btn btn-danger">Delete</button>
        </form>
        <form id="save_form" method="post">
            <div class="form-group">
                <label for="save_input">Save query</label>
                <input id="save_input" class="form-control" type="text"/>
            </div>
            <button id="save_button" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
