{% extends "cyano/base.html" %}

{% load crispy_forms_tags %}

{% comment %}
Login template

Author: Jonathan Karr, jkarr@stanford.edu
Affiliation: Covert Lab, Department of Bioengineering, Stanford University
Last updated: 2012-07-17
{% endcomment %}

{% block head_title %}{{ block.super }} :: Login{% endblock %}
{% block page_title %}Login{% endblock %}
{% block action_icons %}{% endblock %}

{% block extrastyles %}

#login tr:last-child td{
	padding-top:12px;
	text-align:right;
}
.leftfloat {
  float: left;
}
{% endblock %}

{% block content %}
<form id="login" method="post" action="{% if species %}{% url "login" species_wid=species.wid %}{% else %}{% url "login" %}{% endif %}">
{% csrf_token %}

{% if message %}
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{ message }}
</div>
{% endif %}

<div class="col-md-6">
{{ form|crispy }}

<input type="hidden" name="next" value="{{ next }}" />
<div class="control-group pull-right">
    <div class="controls controls-row">
        <a class="btn-link" href="{% url 'password_reset' %}">Forgot your password?</a>
    </div>
</div>

<button type="submit" value=" Send" class="btn btn-primary" id="submit">Login</button>
</div>
</form>
{% endblock %}
