{% extends "cyano/base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} :: Password change{% endblock %}
{% block page_title %}Password change{% endblock %}
{% block action_icons %}{% endblock %}

{% block content %}

<form method="post">{% csrf_token %}
<div class="col-md-6">
<p>
Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
</p>

{{ form|crispy }}

<button type="submit" value="Change my password" class="btn btn-primary" id="submit">Change my password</button>

</div>
</form>

{% endblock %}
