{% extends "cyano/base.html" %}

{% load widget_tweaks %}

{% block head_title %}{{ block.super }} :: Password reset{% endblock %}
{% block page_title %}Password reset{% endblock %}
{% block action_icons %}{% endblock %}

{% block extrastyles %}
#main{
	width:230px;
}
#login tr:last-child td{
	padding-top:12px;
	text-align:right;
}
{% endblock %}

{% block content %}
<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

<form action="" method="post">{% csrf_token %}
{% if form.email.errors|length > 0%}<div class="errors">{{ form.email.errors|join:" " }}{% endif %}</div>
<p><label for="id_email">Email address:</label> {% render_field form.email class+="text" %}</p><p><input type="submit" class="button" value="Reset my password" /></p>
</form>

{% endblock %}
