{% extends "cyano/base.html" %}

{% block head_title %}{{ block.super }} :: Password reset successful{% endblock %}
{% block page_title %}Password reset successful{% endblock %}
{% block action_icons %}{% endblock %}

{% block extrastyles %}
#main{
	width:230px;
}
#login tr:last-child td{
	padding-top:12px;
	text-align:right;
}
{% endblock %}

{% block content %}

We've emailed you instructions for setting your password to the email address you submitted. You should be receiving it shortly.

{% endblock %}
