{% extends "cyano/base.html" %}

{% load widget_tweaks %}

{% block head_title %}{{ block.super }} :: Password change{% endblock %}
{% block page_title %}Password change{% endblock %}
{% block action_icons %}{% endblock %}

{% block extrastyles %}
#main{
	width:230px;
}
#login tr:last-child td{
	padding-top:12px;
	text-align:right;
}
{% endblock %}

{% block content %}<div id="content-main">

<form action="" method="post">{% csrf_token %}
<div>
Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
<p>
<div class="form-row">
	{% if form.old_password.errors|length > 0%}<div class="errors">{{ form.old_password.errors|join:" " }}{% endif %}</div>
    <label for="id_old_password" class="required">Old password:</label>{% render_field form.old_password class+="text" %}
</div>

<div class="form-row">
    {% if form.new_password1.errors|length > 0%}<div class="errors">{{ form.new_password1.errors|join:" " }}{% endif %}</div>
    <label for="id_new_password1" class="required">New password:</label>{% render_field form.new_password1 class+="text" %}
</div>

<div class="form-row">
	{% if form.new_password2.errors|length > 0%}<div class="errors">{{ form.new_password2.errors|join:" " }}{% endif %}</div>
    <label for="id_new_password2" class="required">New password (again):</label>{% render_field form.new_password2 class+="text" %}
</div>
</p>
<div class="submit-row">
    <input type="submit" class="button" value="Change my password" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>

{% endblock %}
