{% load static %}<svg id="boehringer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" pointer-events="visible">
    <script xlink:href="{% get_static_prefix %}boehringer/js/svg-pan-zoom.js" type="application/javascript"></script>
    <g id="viewport">
    <image x="0" y="0" width="6871" height="4804" xlink:href="{% if export %}{{ image }}{% else %}{% get_static_prefix %}boehringer/pathways.png"{% endif %}"></image>
    {% for enzyme in enzymes %}
    {% with object=enzyme.0 %}
    {% with color=enzyme.1 %}
    {% if not export %}
    <a xlink:href="http://www.brenda-enzymes.org/php/result_flat.php4?ecno={{ object.ec }}" xlink:title="{{ object.title }} target="_blank">
    {% endif %}
    <rect id="e{{ forloop.counter }}" x="{{ object.x }}" y="{{ object.y }}" width="{{ object.w }}" height="{{ object.h }}" style="fill:{% if color %}{{ color }}{% else %}{{object.color.name}}{% endif %}; fill-opacity:0.2"></rect>
    {% if not export %}
    </a>
    {% endif %}
    {% endwith %}
    {% endwith %}
    {% endfor %}

    {% for metabolite in metabolites %}
    {% with object=metabolite.0 %}
    {% with color=metabolite.1 %}
    <rect id="m{{ forloop.counter }}" x="{{ object.x }}" y="{{ object.y }}" width="{{ object.w }}" height="{{ object.h }}" style="fill:{% if color %}{{ color }}{% else %}{{object.color.name}}{% endif %}; fill-opacity:0.2"></rect>
    {% endwith %}
    {% endwith %}
    {% endfor %}
    </g>
</svg>
